.mapMiddle {
  background-color: #edf6ff;
  height: 494px;
  padding: 48px 0 0 0;

  position: relative;
  z-index: 8;
}

.mapMiddle__container {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.mapMiddle__info {
  padding: 0px 20px;
  transition: opacity 1s ease-in-out;
}

.mapMiddle__imgWrapper {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapMiddle__img {
  width: 405px;
  height: 100%;
  margin-left: 23px;
}

.mapMiddle__video {
  display: none;
}

.mapMiddle__title {
  font-family: "Dewi";
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #121c46;
  margin-bottom: 24px;
  width: 160px;
}

.mapMiddle__descr {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121c46;
  display: inline-block;
  width: 269px;
}

.visible {
  opacity: 1 !important;
}

@media screen and (min-width: 768px) {
  .mapMiddle {
    padding-top: 48px;
    height: 607px;
  }

  .mapMiddle__container {
    position: relative;
    z-index: 4;
    max-width: 768px;
  }

  .mapMiddle__info {
    z-index: 1;
  }

  .mapMiddle__title {
    font-size: 56px;
    width: 600px;
    margin-bottom: 32px;
  }

  .mapMiddle__img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1180px) {
  .mapMiddle {
    height: 770px;
  }

  .mapMiddle__container {
    padding: 0px 0 0 0;
    max-width: 1180px;
  }

  .mapMiddle__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 58px;
  }

  .mapMiddle__imgWrapper {
    height: 670px;
    width: 100%;
    position: relative;
  }

  .mapMiddle__title {
    margin-bottom: 0;
  }

  .mapMiddle__descr {
    z-index: 10;
    font-family: "Dewi";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    width: 448px;
  }
}

@media screen and (min-width: 1440px) {
  .mapMiddle {
    padding: 0;
    position: relative !important;
    height: auto;
  }

  .mapMiddle__info {
    max-width: 1440px;
    margin: 0 auto;
  }

  .mapMiddle__container {
    position: unset !important;
    display: block;
    max-width: 1440px;
    height: auto;
    padding: 48px 0px 0px 0px;
  }

  .mapMiddle__imgWrapper {
    width: 100%;
    padding-top: 20px;
    height: auto;
  }

  .mapMiddle__img__desktopHidden {
    display: none;
  }

  .mapMiddle__video {
    display: block;
    width: 100%;
  }
}
