.modal {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  display: none;
  opacity: 0.5;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  z-index: -1;
}

.active {
  display: flex;
  z-index: 70;
  opacity: 1;
  pointer-events: all;
}
