.info {
  background-color: #ffffff;
}

.info__container {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 48px 20px 0px 20px;
}

.info__top {
  margin-bottom: 48px;
}

.info__title,
.info__heading {
  font-family: "Dewi";
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #121c46;
}

.info__title {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 24px;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info__item:not(:last-child) {
  margin-bottom: 24px;
}

.info__svg {
  margin-bottom: 8px;
}

.info__heading {
  font-size: 18px;
  margin-bottom: 8px;
}

.info__descr {
  width: 315px;
}

.info__price {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.info__price span {
  margin-top: 12px;
}

.info__descr,
.info__price {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121c46;
}

.info__btn {
  border: none;
  display: inline-block;
  transition-duration: 500ms;
  border-radius: 6px;
  background-color: #18bbfe;
  font-family: "Inter Tight";
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px 11px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}

.info__btn:hover {
  transition-duration: 500ms;
  background-color: #d5edff;
  color: #18bbfe;
}

.info:last-child h3 {
  width: 250px;
  hyphens: auto;
  overflow-wrap: break-word;
}

@media screen and (min-width: 380px) {
  .info:last-child h3 {
    width: 300px;
    hyphens: auto;
    overflow-wrap: break-word;
  }
}

@media screen and (min-width: 768px) {
  .info__container {
    padding: 48px 20px 0px 20px;
    max-width: 768px;
  }

  .info__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(32px * -1);
  }

  .info__item:not(:last-child) {
    margin-bottom: 0;
  }

  .info__item {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .info__heading {
    width: 260px;
  }

  .info__price {
    width: 638px;
  }

  .info__title {
    font-size: 40px;
    margin-bottom: 32px;
  }

  .info:last-child h3 {
    width: auto;
  }

  .info__btn {
    width: auto;
  }
}

@media screen and (min-width: 1180px) {
  .info__container {
    max-width: 1180px;
    padding: 48px 58px 0px 58px;
  }
}

@media screen and (min-width: 1440px) {
  .info__container {
    max-width: 1440px;
  }
}
