.seventhRules {
  margin: 0 auto;
  max-width: 320px;
}

.seventhRules__containers {
  padding: 48px 20px 48px 20px;
}

.seventhRules__title {
  font-family: "Dewi";
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #121c46;
  margin-bottom: 24px;
  width: 280px;
  display: flex;
}

.seventhRules__number {
  display: inline-block;
  width: 29px;
  margin-right: 8px;
}

.seventhRules__item,
.seventhSubRules__item {
  display: flex;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121c46;
}

.seventhSubRules__item:not(:last-child),
.seventhRules__item:not(:last-child) {
  margin-bottom: 12px;
}

.seventhRules__text {
  width: 237px;
}

.seventhSubRules__text {
  width: 232px;
}

.seventhSubRules__textNumber {
  display: inline-block;
  width: 48px;
}

.seventhRules__textNumber {
  display: inline-block;
  width: 43px;
}

@media screen and (min-width: 768px) {
  .seventhRules {
    max-width: 768px;
  }

  .seventhRules__containers {
    padding: 48px 20px 48px 20px;
  }

  .seventhRules__list {
    margin-left: 48px;
  }

  .seventhSubRules__list {
    margin-left: 42px;
  }

  .seventhRules__title {
    font-size: 40px;
    margin-bottom: 32px;
    width: 720px;
  }

  .seventhRules__text {
    width: 637px;
  }

  .seventhSubRules__text {
    width: 626px;
  }

  .seventhRules__number {
    width: 48px;
  }

  .seventhSubRules__textNumber {
    width: 40px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1180px) {
  .seventhRules {
    max-width: 1180px;
  }

  .seventhRules__containers {
    padding: 48px 58px 64px 58px;
  }

  .seventhRules__text {
    width: 673px;
  }
}

@media screen and (min-width: 1440px) {
  .seventhRules {
    max-width: 1440px;
  }
}
